*{
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(154, 219, 226), rgb(139, 240, 186));
    height:100vh;
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid > button{
    cursor: pointer;
    border: 1px solid white;
    font-size: 2rem;
    outline: none;
    background-color: rgba(235, 205, 140, 0.89);
}
.calculator-grid > button:hover{
    background-color: rgba(255, 255, 255, 0.541);
}
.span-two{
    grid-column: span 2;
}
.output{
    background: linear-gradient(rgb(112, 77, 48),rgb(151, 96, 37));
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: rgba(255, 255, 255, 0.507);
    font-size: 1rem;
}
.output .current-operand{
    color: white;
    font-size: 3rem;
}
